<!-- HERO SECTION -->
<div class="hero-section">

  <div class="main-video-container">
    <div class="overlay"></div>

    <div class="hero-video">
      <video #bgVideo muted loop playsinline webkit-playsinline preload="metadata">
        <source src="/ciğercibaba.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="hero-content">
    <div class="sis">
      <img src="/ciğer.png" alt="ciğer şiş">
    </div>
    <h1>Bergama'da Ciğer Yemek İçin En Doğru Adres</h1>

  </div>

</div>

<section class="parallax-wrapper">



<section class="menu-cta">
  <div class="menu-cta__inner">
    <div class="menu-cta__text">
      <h3>Menüyü Keşfedin</h3>
      <p>Ciğerler, Kebaplar, Pide Çeşitleri,Sulu Yemekler, Tatlılar ve Daha Fazlasını Keşfedin
      </p>
    </div>

    <button class="menu-cta__btn" routerLink="/menu">
      Menüyü Keşfet
    </button>
  </div>
</section>


  <div class="background">
    <div class="gold-strip">
      <div class="marquee">
        <span>
          QUATTRO • COFFEE • LATTE • BERGAMA • FRESH ROAST •
        </span>
      </div>
    </div>


  </div>


  <section class="gallery-section">

    <div class="gallery-grid">
      <div class="gallery-card">
        <img src="/A.jpg">
      </div>

      <div class="gallery-card">
        <img src="/B.jpg">
      </div>

      <div class="gallery-card">
        <img src="/C.jpg">
      </div>

      <div class="gallery-card">
        <img src="/D.jpg">
      </div>
    </div>

  </section>



<section class="faq-menu">

  <div class="faq-item" *ngFor="let item of faqList; let i = index">

    <button class="faq-question" (click)="toggle(i)">
      {{ item.question }}
      <span class="icon" [class.rotate]="activeIndex === i">+</span>
    </button>

    <div class="faq-answer" [class.open]="activeIndex === i">
      <p>{{ item.answer }}</p>

    </div>

  </div>

</section>


</section>